@import "@/styles/imports";

.pagination_container {
	list-style-type: none;
	padding: 1.2rem 2.4rem;
	@include flex(flex-start, center);
	width: 100%;
}
.row {
	@include flex(flex-start, center);
	margin-left: 1.6;
}
.text p {
	color: $col-text-secondary;
}

.pagination_item {
	text-align: center;
	margin: auto 0.4rem;
	color: rgba(18, 18, 18, 0.64);
	letter-spacing: 0.01071em;
	border-radius: 0.4rem;
	font-size: 1rem;
	font-weight: 500;
	width: 2.4rem;
	height: 2.4rem;
	@extend %center;
	cursor: pointer;
	background-color: #d9d9d9;
}
.pagination_item .dots:hover {
	background-color: transparent;
	cursor: default;
}
.pagination_item:not(:has(.arrow)):hover {
	background: linear-gradient(76.89deg, #ffb30f 11.85%, #edcb00 100.03%);
	cursor: pointer;
}

.pagination_item.selected {
	background: linear-gradient(76.89deg, #ffb30f 11.85%, #edcb00 100.03%);
}

.arrow {
	color: rgba(18, 18, 18, 0.64);
	font-weight: 500;
	&::before {
		position: relative;
		content: "";
		display: inline-block;
		width: 0.8rem;
		height: 0.8rem;
		border-right: 0.2rem solid rgba(18, 18, 18, 0.64);
		border-top: 0.2rem solid rgba(18, 18, 18, 0.64);
	}

	&.left {
		transform: rotate(-135deg);
		margin-left: 0.2rem;
	}

	&.right {
		margin-left: -0.2rem;
		transform: rotate(45deg);
	}
}

.pagination_item.disabled {
	pointer-events: none;
	opacity: 0.5;
	.arrow::before {
		border-right: 0.12rem solid #7f8290;
		border-top: 0.12rem solid #7f8290;
	}

	&:hover {
		cursor: not-allowed;
		background-color: transparent;
	}
}
.sub_list {
	display: flex;
	margin: 0 2rem;
}

@media screen and (max-width: 450px) {
	.pagination_container {
		flex-direction: column-reverse;
	}
	.row {
		width: 100%;
		justify-content: space-between;
	}

	.pagination_item {
		p {
			display: none;
		}
	}
}
