@import "@/styles/imports";

.button {
	background-color: #20232d !important;
	border-radius: 99.9rem;
	border: 0.1rem solid $col-border;
	@include flex(space-between, center, nowrap);
	padding: 0.2rem !important;
	gap: 0.4rem;
	.icon {
		position: relative;
		width: 2rem;
		height: 2rem;
	}
	.text {
		p {
			@extend %text-12;
			color: $col-text-secondary;
			font-weight: 500;
		}
	}
}
