@font-face {
	font-family: "ClashGrotesk-Bold";
	src: url("/fonts/ClashGrotesk-Bold.woff2");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}
@font-face {
	font-family: "ClashGrotesk-Semibold";
	src: url("/fonts/ClashGrotesk-Semibold.woff2");
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}
@font-face {
	font-family: "ClashGrotesk-Medium";
	src: url("/fonts/ClashGrotesk-Medium.woff2");
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}
@font-face {
	font-family: "ClashGrotesk";
	src: url("/fonts/ClashGrotesk-Regular.woff2");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

section,
article,
blockquote,
div,
span,
nav,
p,
ul,
li,
a {
	font-size: 1.4rem;
	line-height: 2.4rem;
}
